/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* google fonts  */

:root {
    --theme-color: #3867d6;
}

* {
    font-family: "poppins", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

body {
    background: #222;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5rem 9%;
}

.header .logo {
    color: #fff;
    font-weight: bolder;
    font-size: 2.5rem;
}

.header .logo  span {
color: var(--theme-color);
}

.header .navbar a {
font-size: 1.7rem;
color: #fff;
margin-left: 2rem;

}

.header .navbar a:hover{
color: var(--theme-color);
}

#menu-bar {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home .content {
    text-align: center;
    padding-top: 6rem;
    margin: 2rem auto;
    max-width: 70rem;
}

.home .content h3 {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--theme-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
}
.btn:hover {
    background-color: var(--theme-color);
}

.home .home-slider .swiper-slide{
overflow: hidden;
border-radius: 0.5rem;
height: 50rem;
width: 35rem;

}

.home .home-slider .swiper-slide img {
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.heading {
    text-align: center;
    color: #fff;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 4rem;
}
.heading span {
    color: var(--theme-color);
    text-transform: uppercase;
}

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.service .box-container .box {
    border-radius: 0.5rem;
    background: #333;
    text-align: center;
    padding: 2.5rem;

}

.service .box-container .box div {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--theme-color);
    color: #fff;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    line-height: 1.8;
}

.Gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;

}
.Gallery .box-container .box {
    position: relative;
    border: 1rem solid #333;
    border-radius: 0.5rem;
    height: 30rem;
    /* width: 35rem;    */
    cursor: pointer;
    overflow: hidden;
}

.Gallery .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Gallery .box-container .box:hover img  {
    transform: scale(0.90);
}

.price .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) ;
    gap: 1.5rem;

}
.price .box-container .box {
    padding: 2rem 0;
    background: #333;
    border-radius: 0.5rem;
    text-align: center;
}
.price .box-container .box:hover {
transform: scale(1.03);
}
.price .box-container .box .title {
    background: var(--theme-color);
    color: #fff;
    padding: 1.5rem 0;
font-size: 2rem;

}

.price .box-container .box .amount {
    color: #fff;
    padding-top: 2rem;
    font-size: 4rem;

}

.price .box-container .box ul {
    list-style: none;
    padding: 1rem 0;

}
.price .box-container .box ul li {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;

}

.price .box-container .box ul li i {
    color: var(--theme-color);
    padding-right: 0.5rem;

}

.footer {
    background:#111;

}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) ;
    gap: 1.5rem;

}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;

}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;

}

.footer .box-container .box a i {
    padding-right: 0.5rem;
    color: var(--theme-color);

}

.footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;

}

.footer .credit {
    text-align: center;
    border-top: 0.1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    font-size: 2rem;

}


::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 5rem;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;

    }
}

@media (max-width: 768px) {
#menu-bar {
    display: initial;

}
.header .fa-times {
    transform: rotate(360deg);
}
.header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0 , 100% 0,100% 0, 0 0 );
}
.header .navbar .active {
    clip-path: polygon(0 0 , 100% 0, 100% 100% , 0 100%);
}
.header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
}
.home .content h3 {
    font-size: 4rem;

}

}
@media (max-width: 450px) {
    html {
        font-size: 50%;

    }
    .home .home-slider .swiper-slide {
        width: 27rem;

    }

    .Gallery .box-container .box { 
        position: relative;
        border: 1rem solid #333;
        border-radius: 0.5rem;
        height: 50rem;
        cursor: pointer;
        overflow: hidden;
      
    }

    
}

